---
import Social from "./Social.astro";
---

<style>
    .spacer {
        height: 2em;
    }
</style>
<div class="spacer"></div>
<Social platform="twitter" username="jutanium" />
<Social platform="github" username="jutanium" />
<Social platform="youtube" username="jutanium" />
